{% extends "orga/base.html" %} {% load i18n %} -
{% block extra_title %}Pretalx Plausible Plugin Settings :: {% endblock extra_title %}

{% block content %}
    <h2>Pretalx Plausible Plugin Settings</h2>

    <form method="POST" class="d-flex flex-column gap-2">
        {% csrf_token %}
        {{ form.plausible_url }}
        <div class="d-flex gap-2">
            <button type="submit" name="action" value="create" class="btn btn-outline-success rounded-circle">
                Add plausible script
            </button>
            <button type="submit" name="action" value="delete" class="btn btn-outline-danger rounded-circle">
                Delete plausible script
            </button>
        </div>
    </form>
{% endblock content %}
